body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background: #fabc00;
}

main {
    flex: 1 0 auto;
}

h1 {
    font-family: 'Oleo Script Swash Caps', cursive;
    color: rgb(228, 65, 65);
    font-size: 6rem;
    font-weight: 900;
}

h3 {
    font-family: 'Roboto', sans-serif;
}

.head {
    background-image: url("../img/quang-chef.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1.5rem;
    padding-left: 4rem;
}

.container {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    background-color: rgba(255, 255, 255, 0.753);
    border-radius: 15px;
}

li {
    margin-bottom: 0.5rem;
}

.burger {
    width: 2rem;
    height: 2rem;
    margin-right: 10px;
    transform: translateY(8px);
}